.carousel-section {
    max-width: 100%; /* Define o tamanho máximo do carrossel */
    margin: 0 auto; /* Centraliza o carrossel horizontalmente */
}

.carousel-item img {
    height: 650px; /* Define a altura das imagens do carrossel */
    object-fit: cover; /* Redimensiona as imagens para preencher o espaço */
}